doctype html
html
  head
    title Connexion
    link(rel='stylesheet', type='text/css', href='styles/global.css')    
  body

    h2 Connexion

    if success
      p Impossibilité de vous connecter.
    else
      p Connexion réussie
     
    a(href='/') Retour à l'accueil
      
